/* Add icons */
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css);

/* Responsive navbar */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

nav {
    background-color: #0288D1;
    width: 100%;
    height: 80px;
    padding: 0 100px;
    position: fixed;
    top: 0;
}

label.logo{
    color: #fff;
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
}

nav ul {
    float: right;
    line-height: 80px;
    z-index: 100;
}

nav ul li {
    display: inline;
    line-height: 80px;
    padding: 0 20px;
}

nav ul li a {
    color: #fff;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 5px;
}

a.active,a:hover{
    background-color: #03A9F4;
    transform: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media(max-width: 768px){
    nav {
        padding: 0px;
    }

    label.logo{
        font-size: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .checkbtn{
        display: block;
        margin-right: 40px;
    }

    ul {
        position: fixed;
        height: 100vh;
        background-color: #039BE5;
        top: 80px;
        width: 100vw;
        left: -120%;
        text-align: center;
        transition: all .2s;
    }

    nav ul li {
        margin-top: 30px;
        display: block;
    }

    nav ul li a {
        display: block;
        font-size: 20px;
    }

    .logo {
        margin-left: 40px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .container {
        padding: 20px 40px;
    }
}

/* Grid system */
.container {
    padding: 30px 100px;
    margin-top: 100px;
}

.grid {
    display: grid;
    gap: 1rem;
    /* Setup fractional units / spacing */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-3-converter {
    grid-template-columns: 12fr 1fr 12fr;
}

.d-none {
    display: block;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.mt {
    margin-top: 30px;
}

.result {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px 0;
}

.border {
    border: 1px solid red;
    padding: 40px;
    margin: 20px 0;
}

.label {
    display: block;
    padding: 5px 0;
}

.input {
    width: 100%;
    display: block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #9E9E9E;
    outline: none !important;
}

.input:focus {
    border: 1px solid #2196F3;
}

.card {
    border: 1px solid #ddd;
    /* margin: 20px 0; */
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

.btn {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 14px;
}

.btn-lg {
    padding: 16px;
}

.w-100 {
    width: 100%;
}

.text-center{
    text-align: center;
}

.sticky {
    position: sticky;
    /* top: 10px; */
}

.btn-primary {
    background-color: #2196F3;
    border-color: #2196F3;
    color: #fff;
}

.btn-primary:hover{
    background-color: #1565C0;
}

.btn-primary:disabled {
    background-color: #90CAF9;
    border-color: #90CAF9;
    color: #fff;
    cursor: not-allowed;
}

.btn-success {
    background-color: #64DD17;
    border-color: #64DD17;
    color: #fff;
}

.btn-success:hover{
    background-color: #76FF03;
}

.mb{
    margin-bottom: 10px;
}

.fa {
    transform: none;
}

.text-muted{
    color: #9E9E9E;
}

.float-right   {
    float: right;
}


@media(max-width: 768px){
    .container {
        padding: 20px 40px;
    }

    .grid-2 {
        grid-template-columns: 1fr;
    }
    .d-none {
        display: none;
    }

    .grid-3-converter {
        grid-template-columns: 1fr 1fr;
    }

    .grid-3 {
        grid-template-columns: 1fr 1fr;
    }

}

